---

---

<section id="Desarrollo" class="bg-gradient-to-b from-black to-[#fffce1]">
    <div class="container mx-auto py-16 mt-72">
        <h2 class="text-6xl font-bold text-left mb-8 text-white">Proyectos desarrollados a medida</h2>
        <p class="text-lg text-center mb-8">
        En esta sección, exploraremos el proceso de desarrollo de la aplicación, incluyendo las tecnologías utilizadas y los desafíos enfrentados.
        </p>
    </div>
    <div id="desarrollo-content" >
        <div class="contenedor-sitios">
            <img src="/src/assets/svg/home/desarrollo/seduc.png" alt="Image 1">
            <a href="https://seduc.cl/" target="_blank">seduc.cl</a>
        </div>
        <div class="contenedor-sitios">
            <img src="/src/assets/svg/home/desarrollo/seduc.png" alt="Image 1">
            <a href="https://seduc.cl/" target="_blank">Ver más</a>
        </div>
        <div class="contenedor-sitios">
            <img src="/src/assets/svg/home/desarrollo/seduc.png" alt="Image 1">
            <a href="https://seduc.cl/" target="_blank">Ver más</a>
        </div>
    </div>
    
</section>