---

---
<section id="desarrollo" class="bg-[#fffce1] pt-16">
    <div class="container mx-[2%]">
        <h2 class="text-6xl font-bold text-left mb-8 text-black">Proyectos desarrollados a medida</h2>
        <p class="text-lg text-center mb-8">
        En esta sección, exploraremos el proceso de desarrollo de la aplicación, incluyendo las tecnologías utilizadas y los desafíos enfrentados.
        </p>
    </div>
    <div id="desarrollo-content" >
        <div class="contenedor-sitios">
            <a href="https://seduc.cl/" target="_blank" class="img-url"><img src="/src/assets/svg/home/desarrollo/seduc.png" alt="Image 1"></a>
            <a href="https://seduc.cl/" target="_blank" class="texto-url">seduc.cl</a>
        </div>
        <div class="contenedor-sitios">
            <a href="https://cyclonemotos.cl/" target="_blank" class="img-url"><img src="/src/assets/svg/home/desarrollo/cyclone.png" alt="Image 1"></a>
            <a href="https://cyclonemotos.cl/" target="_blank" class="texto-url">Cyclone Motos</a>
        </div>
        <div class="contenedor-sitios">
            <a href="#" target="_blank" class="img-url"><img src="/src/assets/svg/home/desarrollo/defensoria.png" alt="Image 1"></a>
            <a href="#" target="_blank" class="texto-url">Intranet Defensoria de la Niñez (Only VPN)</a>
        </div>
        <div class="contenedor-sitios">
            <a href="https://taller-digital-web.pages.dev/" target="_blank" class="img-url"><img src="/src/assets/svg/home/desarrollo/tallerdigital.png" alt="Image 1"></a>
            <a href="https://taller-digital-web.pages.dev/" target="_blank" class="texto-url">Taller Digital</a>
        </div>
    </div>
    
</section>