---

---

<section id="Desarrollo" class="bg-gradient-to-b from-black to-[#fffce1]">
    <div class="container mx-auto py-16 mt-72">
        <h2 class="text-6xl font-bold text-left mb-8 text-white">Proyectos desarrollados a medida</h2>
        <p class="text-lg text-center mb-8">
        En esta sección, exploraremos el proceso de desarrollo de la aplicación, incluyendo las tecnologías utilizadas y los desafíos enfrentados.
        </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-[5%]">
        <div class="relative bg-gradient-to-br from-[#fffce1] via-white to-[#fffce1] px-4 py-36 flex flex-col items-center rounded-md shadow-lg">
            <img src="/src/assets/svg/home/desarrollo/seduc.png" alt="Image 1" class="mb-4 w-full object-cover transition-transform transform hover:-translate-y-2 hover:shadow-2xl duration-500 ease-out">
            <a href="https://seduc.cl/" target="_blank" class="absolute bottom-4 left-4 text-stone-400 mt-auto">seduc.cl</a>
        </div>
        <div class="relative bg-gradient-to-br from-[#fffce1] via-white to-[#fffce1] px-4 py-36 flex flex-col items-center rounded-md shadow-lg">
            <img src="/src/assets/svg/home/desarrollo/seduc.png" alt="Image 1" class="mb-4 w-full object-cover transition-transform transform hover:-translate-y-2 hover:shadow-2xl duration-500 ease-out">
            <a href="https://seduc.cl/" target="_blank" class="absolute bottom-4 left-4 text-blue-500 underline mt-auto">Ver más</a>
        </div>
        <div class="relative bg-gradient-to-br from-[#fffce1] via-white to-[#fffce1] px-4 py-36 flex flex-col items-center rounded-md shadow-lg">
            <img src="/src/assets/svg/home/desarrollo/seduc.png" alt="Image 1" class="mb-4 w-full object-cover transition-transform transform hover:-translate-y-2 hover:shadow-2xl duration-500 ease-out">
            <a href="https://seduc.cl/" target="_blank" class="absolute bottom-4 left-4 text-blue-500 underline mt-auto">Ver más</a>
        </div>
    </div>
    
</section>