---
import TypedText from "../animation/TypedText.astro";
import CircleFollow from '../animation/CircleFollow.astro';
---
<CircleFollow/>
<div style="background: linear-gradient(to top, #fffce1, rgba(0, 0, 0, 1) 40%, black  60%);">
  
  <div class="text-wrapper pb-74 h-[900px]">
    <div id="mensaje-hero" class="relative -z-10 text-container">
      <div class="line line-una flex items-center">
        <div class="mr-20">
          <span class="letter una-letter-u">U</span>
          <div class="letter-container">
            <img src="src/assets/svg/home/svg1.svg" alt="Descripción de la imagen" class="w-24 una-image" />
            <span class="letter una-letter-n hidden">n</span>
          </div>
          <span class="letter una-letter-a">a</span>
        </div>
        <div class="content-idea mr-20">
          <span class="letter idea-i">I</span>
          <span class="letter idea-d">d</span>
          <span class="letter idea-e">e</span>
          <span class="letter idea-a">a</span>
        </div>
      </div>
      <div class="line line-experiencia flex items-center justify-center">
        <div class="mr-16">
          <span class="letter experiencia-letter-e">U</span>
          <span class="letter experiencia-letter-x">n</span>
        </div>
        <div class="mr-20">
          <span class="letter">S</span>
          <span class="letter">i</span>
          <span class="letter">t</span>
          <span class="letter sitio-i">i</span>
          <span class="letter">o</span>
        </div>
      </div>
      <div class="line line-impacto flex items-center justify-end">
        <div class="mr-20">
          <span class="letter">U</span>
          <span class="letter">n</span>
        </div>
        <div>
          <span class="letter">I</span>
          <span class="letter">m</span>
          <span class="letter">p</span>
          <span class="letter">a</span>
          <span class="letter">c</span>
          <span class="letter">t</span>
          <span class="letter">o</span>
        </div>
  
      </div>
    </div>
    <div id="descripcion" class="h-full flex flex-col justify-center items-center text-white mt-10 hidden">
      <h1 class="hero-title mb-4 text-7xl text-[#fffce1]">Lukas Ibáñez Villagrán</h1>
      <TypedText client:load/>
    </div>
  </div>
</div>
<script>
  import { onMount } from "solid-js";
  import gsap from "gsap";
  onMount(() => {
    const timeline = gsap.timeline();
    timeline
      .from(".una-letter-u", {
        opacity: 0,
        rotateX: 180,
        y: 140,
        duration: 0.4
      })
      .from(".una-image", { 
        opacity: 0,
        y: -500,
        duration: 0.6
      })
      .to(".una-image", {
        opacity: 0,
        scale: 0.5,
        y: -200,
        duration: 0.5,
        transformOrigin: "center center",
          rotation: "+=90",
          ease: "power4.out",
        onComplete: () => {
          document.querySelector(".una-letter-n").classList.remove("hidden");
        }
      }, "=0.2")
      .from(".una-letter-n", { 
        opacity: 0, 
        scale: 0.5, 
        duration: 0.4
      })
      .from(".una-letter-a", { 
        opacity: 0, 
        x: -50, 
        duration: 0.5 
      })
      
      .add(() => {
        const svg2 = document.createElement("img");
        svg2.src = "src/assets/svg/home/svg2.svg";
        svg2.className = "svg2-image";
        svg2.style.position = "absolute";
        svg2.style.top = "90px";
        svg2.style.left = "379px";
        svg2.style.transform = "translate(-50%, -50%)";
        svg2.style.width = "79px";
        document.body.appendChild(svg2);

        gsap.from(".svg2-image", {
          x: -100, 
          y: 0, 
          opacity: 0,
          duration: 0.5
        });
        gsap.to(".svg2-image", {
          transformOrigin: "center center",
          rotation: "+=90",
          repeat: -1,
          duration: 0.3, 
          ease: "power4.out",
          repeatDelay: 0.9 
        });
      })
      
      .from(".line-experiencia", { 
        opacity: 0, 
        x: -100, 
        duration: 0.6 
      })
      .from(".line-impacto", {
        opacity: 0, 
        x: 100, 
        duration: 0.6 
      })
      .to(".svg2-image", {
        opacity: 0,
        scale: 0.5,
        duration: 0.5,
        onComplete: () => {
          const svg2Image = document.querySelector(".svg2-image");
          if (svg2Image) svg2Image.remove();
        }
      })
      .to("#mensaje-hero", {
        x: -200,
        opacity: 0,
        duration: 0.8,
        onComplete: () => {
          document.querySelector("#mensaje-hero").classList.add("hidden");
          document.querySelector("#descripcion").classList.remove("hidden");
        }
      })
      
      .to("#descripcion", {
        x: 0,
        opacity: 1,
        duration: 0.8
      });

    const additionalTimeline = gsap.timeline();
    additionalTimeline
      .from(".text-wrapper", {
        opacity: 0,
        scale: 0.8,
        duration: 1
      })
      .from(".idea-i", {
        x: -200,
        opacity: 0,
        duration: 0.5,
        ease: "power4.out"
      })
      .from(".idea-d", {
        x: -200,
        opacity: 0,
        duration: 0.5,
        ease: "power4.out"
      }, "-=0.3")
      .from(".idea-e", {
        x: -200,
        opacity: 0,
        rotation: 360,
        transformOrigin: "center center",
        duration: 0.5,
        ease: "power4.out"
      }, "-=0.3")
      .from(".idea-a", {
        x: -200,
        opacity: 0,
        duration: 0.5,
        ease: "power4.out"
      }, "-=0.3")
      .from(".sitio-i", {
        transformOrigin: "center center",
        rotationX: 360, // Rotación en el eje Y
        repeat: -1,
        duration: 1.8, 
        ease: "power4.out",
        repeatDelay: 1 
      });
  });
</script>
<style>
  
  .letter {
    color: #fffce1;
    font-size: 170px;
    font-weight:600;
    display: inline-block; 
    vertical-align: middle; 
  }
  .line-una {
    display: flex; 
    align-items: center;
    gap: 0.2em;
  }
  .letter-container {
    display: inline-block;
    position: relative;
    width: 12ch; 
    height: 16em; 
    vertical-align: middle;
    text-align: center;
  }
  .una-image {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centro */
  }
  .hidden {
    display: none;
  }
  .text-wrapper {
    margin-top: 100px;
    padding-left: 200px;
    padding-right: 10%;
    width:100%
  }
  #descripcion {
    opacity: 0;
    transform: translateX(200px); /* Ensure it starts off-screen to the right */
  }
</style>